@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));
@custom-variant hover (&:hover);

@theme inline {
  /* These are the range of all the colors used in the design */

  /* BREAKPOINTS */
  --breakpoint-max-xl: 82rem;
  --breakpoint-2xl: 90rem;
  --breakpoint-3xl: 96rem;

  /* COLORS */
  --color-*: initial;
  --color-red-50: hsla(3, 76%, 95%, 1);
  --color-red-100: hsla(0, 80%, 88%, 1);
  --color-red-200: hsla(1, 79%, 81%, 1);
  --color-red-300: hsla(1, 78%, 71%, 1);
  --color-red-400: hsla(1, 78%, 62%, 1);
  --color-red-500: hsla(1, 79%, 52%, 1);
  --color-red-600: hsla(1, 72%, 42%, 1);
  --color-red-700: hsla(1, 71%, 31%, 1);
  --color-red-800: hsla(1, 72%, 21%, 1);
  --color-red-900: hsla(0, 70%, 11%, 1);
  --color-red-950: hsla(0, 0%, 0%, 1);

  --color-gray-50: hsla(0, 0%, 97%, 1);
  --color-gray-100: hsla(0, 0%, 96%, 1);
  --color-gray-200: hsla(0, 0%, 92%, 1);
  --color-gray-300: hsla(0, 0%, 89%, 1);
  --color-gray-400: hsla(0, 0%, 86%, 1);
  --color-gray-500: hsla(0, 0%, 83%, 1);
  --color-gray-600: hsla(0, 0%, 78%, 1);
  --color-gray-700: hsla(0, 0%, 71%, 1);
  --color-gray-800: hsla(0, 0%, 53%, 1);
  --color-gray-900: hsla(0, 0%, 37%, 1);
  --color-gray-950: hsla(0, 0%, 6%, 1);

  --color-orange-50: hsla(13, 100%, 97%, 1);
  --color-orange-100: hsla(16, 100%, 95%, 1);
  --color-orange-200: hsla(16, 100%, 88%, 1);
  --color-orange-300: hsla(16, 100%, 81%, 1);
  --color-orange-400: hsla(16, 100%, 71%, 1);
  --color-orange-500: hsla(16, 100%, 57%, 1);
  --color-orange-600: hsla(16, 100%, 48%, 1);
  --color-orange-700: hsla(16, 100%, 43%, 1);
  --color-orange-800: hsla(16, 100%, 35%, 1);
  --color-orange-900: hsla(16, 100%, 26%, 1);
  --color-orange-950: hsla(16, 100%, 18%, 1);

  --color-green-50: hsla(135, 29%, 97%, 1);
  --color-green-100: hsla(130, 25%, 95%, 1);
  --color-green-200: hsla(128, 38%, 92%, 1);
  --color-green-300: hsla(125, 40%, 88%, 1);
  --color-green-400: hsla(127, 40%, 82%, 1);
  --color-green-500: hsla(127, 40%, 82%, 1);
  --color-green-600: hsla(129, 38%, 66%, 1);
  --color-green-700: hsla(133, 39%, 52%, 1);
  --color-green-800: hsla(136, 53%, 43%, 1);
  --color-green-900: hsla(141, 85%, 26%, 1);
  --color-green-950: hsla(131, 36%, 18%, 1);

  --color-yellow-50: hsla(55, 92%, 95%, 1);
  --color-yellow-100: hsla(55, 97%, 88%, 1);
  --color-yellow-200: hsla(53, 98%, 77%, 1);
  --color-yellow-300: hsla(50, 98%, 64%, 1);
  --color-yellow-400: hsla(48, 96%, 53%, 1);
  --color-yellow-500: hsla(45, 93%, 47%, 1);
  --color-yellow-600: hsla(41, 96%, 40%, 1);
  --color-yellow-700: hsla(35, 92%, 33%, 1);
  --color-yellow-800: hsla(32, 81%, 29%, 1);
  --color-yellow-900: hsla(28, 73%, 26%, 1);

  --color-blue-50: hsla(214, 100%, 97%, 1);
  --color-blue-100: hsla(214, 95%, 93%, 1);
  --color-blue-200: hsla(213, 97%, 87%, 1);
  --color-blue-300: hsla(212, 96%, 78%, 1);
  --color-blue-400: hsla(213, 94%, 68%, 1);
  --color-blue-500: hsla(217, 91%, 60%, 1);
  --color-blue-600: hsla(221, 83%, 53%, 1);
  --color-blue-700: hsla(224, 76%, 48%, 1);
  --color-blue-800: hsla(226, 71%, 40%, 1);
  --color-blue-900: hsla(224, 64%, 33%, 1);

  --color-white: hsla(0, 0%, 100%, 1);
  --color-black: hsla(0, 0%, 0%);

  /* COLOR TOKENS */
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-background-accent: var(--background-accent);
  --color-background-accent-secondary: var(--background-accent-secondary);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-placeholder: var(--text-placeholder);
  --color-text-disabled: var(--text-disabled);
  --color-text-inverse: var(--text-inverse);
  --color-text-accent: var(--text-accent);

  /* ALERT: SUCCESS */
  --color-alert-success-primary: var(--alert-success-primary);
  --color-alert-success-secondary: var(--alert-success-secondary);
  --color-alert-success-text: var(--alert-success-text);
  --color-alert-success-line: var(--alert-success-line);

  /* ALERT: INFO */
  --color-alert-info-primary: var(--alert-info-primary);
  --color-alert-info-secondary: var(--alert-info-secondary);
  --color-alert-info-text: var(--alert-info-text);
  --color-alert-info-line: var(--alert-info-line);

  /* ALERT: WARNING */
  --color-alert-warning-primary: var(--alert-warning-primary);
  --color-alert-warning-secondary: var(--alert-warning-secondary);
  --color-alert-warning-text: var(--alert-warning-text);
  --color-alert-warning-line: var(--alert-warning-line);

  /* ALERT: ERROR */
  --color-alert-error-primary: var(--alert-error-primary);
  --color-alert-error-secondary: var(--alert-error-secondary);
  --color-alert-error-text: var(--alert-error-text);
  --color-alert-error-line: var(--alert-error-line);

  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-secondary: var(--accent-secondary);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-border-primary: var(--border-primary);
  --color-border-secondary: var(--border-secondary);

  --color-line: var(--line);
  --color-line-blue: var(--line-blue);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  /* FONTS */
  --font-serif: var(--font-figtree);

  /* BORDER RADIUS */
  --radius-*: initial;
  --radius-xs: calc(var(--radius) / 2);
  --radius-sm: var(--radius);
  --radius-md: calc(var(--radius) * 2);
  --radius-lg: calc(var(--radius) * 3);
  --radius-xl: calc(var(--radius) * 3.5);
  --radius-2xl: calc(var(--radius) * 4);

  /* BORDER WIDTH */
  --border-width-0.6: 0.6px;

  /* BOX SHADOW */
  --shadow-lg-1: 0px 10px 15px 0px hsla(0, 0%, 0%, 0.05);
  --shadow-lg-2: 0px 1.33333px 5.33333px hsla(0, 0%, 0%, 0.12);

  /* SPACING */
  --spacing-0.6: 0.6px --spacing-30: 7.5rem;
  --spacing-30.5: 7.75rem;
  ---z-15: 15;
}

:root {
  /* done */
  --background: var(--color-white);
  --background-secondary: var(--color-gray-50);
  --background-accent: var(--color-red-500);
  --background-accent-secondary: var(--color-red-50);

  /* TEXT COLORS */
  --text-primary: var(--color-gray-950);
  --text-secondary: var(--color-gray-800);
  --text-placeholder: var(--color-gray-600);
  --text-disabled: var(--color-red-200);
  --text-inverse: var(--color-white);
  --text-accent: var(--color-red-500);

  /* ALERT: SUCCESS */
  --alert-success-primary: var(--color-green-800);
  --alert-success-secondary: var(--color-green-50);
  --alert-success-text: var(--color-green-800);
  --alert-success-line: var(--color-green-800);

  /* ALERT: INFO */
  --alert-info-primary: var(--color-blue-800);
  --alert-info-secondary: var(--color-blue-50);
  --alert-info-text: var(--color-blue-800);
  --alert-info-line: var(--color-blue-800);

  /* ALERT: WARNING */
  --alert-warning-primary: var(--color-yellow-500);
  --alert-warning-secondary: var(--color-yellow-50);
  --alert-warning-text: var(--color-yellow-500);
  --alert-warning-line: var(--color-yellow-500);

  /* ALERT: ERROR */
  --alert-error-primary: var(--color-red-500);
  --alert-error-secondary: var(--color-red-50);
  --alert-error-text: var(--color-red-500);
  --alert-error-line: var(--color-red-500);

  --foreground: var(--color-gray-950);

  --card: var(--color-white);
  --card-foreground: var(--color-gray-950);

  --popover: var(--color-white);
  --popover-foreground: var(--color-gray-950);

  --primary: var(--color-red-500);
  --primary-foreground: var(--color-white);

  --secondary: var(--color-white);
  --secondary-foreground: var(--color-gray-800);

  --muted: var(--color-red-200);
  --muted-foreground: var(--color-white);

  --placeholder: var(--color-gray-600);

  /* for accent and destructive */
  --border: var(--color-gray-600);
  --border-primary: var(--color-red-500);
  --border-secondary: var(--color-gray-800);

  --input: var(--color-gray-600);
  --line: var(--color-gray-600);
  --line-blue: var(--color-blue-700) --ring: var(--color-gray-950);

  --accent-secondary: var(--color-red-50);
  /* for chart */

  /* undone */
  --accent: hsl(0 0% 96.1%);
  --accent-foreground: hsl(0 0% 9%);

  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);

  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);

  --radius: 0.5rem;
  ---z-15: var(---z-15);
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-w-1 {
  &::-webkit-scrollbar {
    width: 1rem;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  input:-moz-autofill {
    background-color: transparent !important;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: hsla(0, 0%, 6%, 1) !important;
    box-shadow: 0 0 0px 1000px white inset !important;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply m-0 appearance-none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  [data-radix-collection-item] {
    span[data-state="checked"] {
      @apply border-primary rounded-full border-5 border-solid sm:border-6;
    }
    .lucide.lucide-circle {
      circle {
        display: none;
      }
    }
  }

  .onboarding-form--wrapper::-webkit-scrollbar,
  .messaging-container::-webkit-scrollbar,
  .profile-card-details::-webkit-scrollbar,
  .message-text-area::-webkit-scrollbar,
  .mobile-nav-menu::-webkit-scrollbar,
  .message-list::-webkit-scrollbar {
    @apply w-1;
  }

  /* Track */
  .onboarding-form--wrapper::-webkit-scrollbar-track,
  .messaging-container::-webkit-scrollbar-track,
  .profile-card-details::-webkit-scrollbar-track,
  .message-text-area::-webkit-scrollbar-track,
  .mobile-nav-menu::-webkit-scrollbar-track,
  .message-list::-webkit-scrollbar-track {
    @apply rounded-lg bg-transparent;
  }

  /* Thumb */
  .onboarding-form--wrapper::-webkit-scrollbar-thumb,
  .messaging-container::-webkit-scrollbar-thumb,
  .profile-card-details::-webkit-scrollbar-thumb,
  .message-text-area::-webkit-scrollbar-thumb,
  .mobile-nav-menu::-webkit-scrollbar-thumb,
  .message-list::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-gray-200;
  }

  @media (min-height: 900px) {
    .onboarding-form {
      @apply items-center;
    }
  }
}
